.room-filter {
    table {
        width: 100%;

        tr {
            line-height: 1.5em;
            &:nth-child(odd) {
                background-color: #efefef;
            }
        }
        thead {
            font-weight: bold;
        }
    }

    select {
        width: 100%;
    }
}