<div class="col-xs-12 col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add hotel</h3>
        </div>
        <div class="panel-body">
            <form id="add-hotel-form" (ngSubmit)="onSubmit()"><br/>

                <!-- name -->
                <div class="col-xs-6">
                    <label>Name</label>
                </div>
                <div class="col-xs-6">
                    <input type="text" name="text" [(ngModel)]="hotel.name" style="width: 100%;"/>
                </div>
                <!-- end name -->

                <!-- city -->
                <div class="col-xs-6">
                    <label>City</label>
                </div>
                <div class="col-xs-6">
                    <input type="text" name="city" [(ngModel)]="hotel.city" style="width: 100%;"/>
                </div>
                <!-- end city -->

                <!-- stars -->
                <div class="col-xs-6">
                    <label>Stars</label>
                </div>
                <div class="col-xs-6">
                    <input type="number" name="stars" [(ngModel)]="hotel.stars" style="width: 100%;"/>
                </div>
                <!-- end stars -->

                <!-- description -->
                <div class="col-xs-6">
                    <label>Description</label>
                </div>
                <div class="col-xs-6">
                    <input type="text" name="description" [(ngModel)]="hotel.description" style="width: 100%;"/>
                </div>
                <!-- end description -->

                <!-- image -->
                <div class="col-xs-6">
                    <label>Image</label>
                </div>
                <div class="col-xs-6">
                    <input type="text" name="image" [(ngModel)]="hotel.image" style="width: 100%;"/>
                </div>
                <!-- end image -->

                <!-- submit -->
                <div class="right-align col-xs-12" style="margin-top: 10px;">
                    <input type="submit" class="btn btn-success" value="Add hotel"/>
                </div>
                <!-- end submit -->

            </form>
        </div>
    </div>
</div>