<navbar></navbar>
<!--main-->
<main>
    <div class="container container-fluid">
        <locations-section></locations-section>
        <div class="row form-container">

            <div class="col-xs-12 col-lg-8 room-filter">
                <room-filter></room-filter>
            </div>

            <!--
                <reserve-room></reserve-room>
            -->

            <homepage-user-info *ngIf="user!=null"></homepage-user-info>

            <homepage-auth *ngIf="user===null"></homepage-auth>

        </div>
        <special-offers></special-offers>
        <div class="row">
            <add-hotel-form></add-hotel-form>
            <add-room-form></add-room-form>
        </div>
    </div>
</main>
<!--end main-->

<!--footer-->
<footer>

</footer>
<!--end footer-->